* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #bebebe;
  color: #000000;
  font-family: "Sono", sans-serif;
  padding: 48px 44px 0px;
}

.hidden {
  display: none !important;
}

.message {
  text-align: center;
  font-size: 32px;
  font-weight: 600px;
  margin-top: 24px;
  text-transform: uppercase;
}

.disputed {
  color: #ef4444;
  font-weight: 600;
  margin-right: 10px;
}

/* Main layout */

#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  height: calc(100vh - 48px - 68px - 40px);
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

section {
  overflow: scroll;
  padding-bottom: 20px;
}

/* Elements */

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #cecece;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Sono", sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  background-color: #c7c7c7;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #dad5d5;
}

.vote-buttons button:disabled {
  background-color: #acb1b5;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 5px;
  transition: 1s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  /* border: none; */
  font-family: "Merriweather", sans-serif;
  line-height: 1;
  /* text-transform: uppercase; */
  font-size: 17px;
  padding: 10px;
  /* background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308); */
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(101%);
}

.btn-large {
  font-size: 20px;
  padding: 16px 20px 16px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
  text-transform: capitalize;
}

.category {
  margin-bottom: 3px;
}

/* FORM */

.fact-form {
  background-color: #c7c7c7;
  margin-bottom: 40px;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #ccc5c0;
  padding: 16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #837e7a;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 16px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  /* body {
    /* padding: 32px 48px; */

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    height: auto;
  }
}
 
@media (max-width: 600px) {
  #root {
    padding: 24px;
  }
 
  .header {
    flex-direction: column;
    gap: 16px;
  }
 
  .fact-form {
    padding: 16px;
  }
 
  .fact {
    padding: 12px 16px;
  }
}